<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>Credentials</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="css/app.css" />
    </head>

    <body>
        <header>
            <h1>Register/Login</h1>
        </header>

        <main>
            <form action="/register" method="POST">
                <h2>Register</h2>

                <label>Username:<label>
                <input type="text" name="registerUsername" /><br />


                <label>Password:</label>
                <input type="text" name="registerPassword" /><br />

                <input type="submit" />
            </form>

            <form action="/login" method="POST">
                <h2>Login</h2>

                <label>Username:<label>
                <input type="text" name="username" /><br />

                <label>Password:</label>
                <input type="text" name="password" /><br />

                <input type="submit" />
            </form>
        </main>

        <footer>
        </footer>
    </body>

    <script src=""></script>
</html>