<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title></title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="../css/app.css" />
    </head>

    <body>
        <header>
            <h1>The Technology Store</h1>

            <nav> {{username}}'s account

                <div>put a shopping cart symbol here</div>
                <div> price: and items: </div>
            </nav>
        </header>

        <main>
        <div>
            <a href="/user/apple">The Apple Store</a>
            <img src="https://www.apple.com//v/home/dy/images/heroes/apple-watch-series-4/apple_watch_series_4_4aeff_mediumtall.jpg" />
            </div>

            <div>
            <a href="/user/google">The Google Store</a>
            <img src="https://lh3.googleusercontent.com/NfnNAzvOvDJchJ4aVfmdCiyOlqJyQfayzj4sQOqjNMQHV9NMBiChaLSF-IgH3nAtJncA4wwv68WUcqpBqRc5=rw-v1-w975" />
            </div>

            <div>
            <a href="/user/samsung">The Samsung Store</a>
            <img src="https://s7d2.scene7.com/is/image/SamsungUS/001-MidnightBlack-92618?$product-card-small-jpg$" />
            </div>
        </main>

        <footer>
            <div>
                <a href="/user/home">Home Page</a>
            </div>

            <div>
                <a href="/user/apple">Apple Page</a>
                <a href="/user/google">Google Page</a>
                <a href="/user/samsung">Samsung Page</a>
            </div>

            <div>
                <a href="/user/shopping-cart">Shopping Cart</a>
            </div>

            <div>
                copyright: The Technology Store
            </div>
        </footer>
    </body>

    <script src=""></script>
</html>