<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title></title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="css/app.css" />
    </head>

    <body>
        <header>
        <a href="/credentials">Register/Login</a>
            <h1>The Technology Store!</h1>
        </header>

        <main>
            <div>{{googleItems}}</div>
            <div>{{appleItems}}</div>
            <div>{{samsungItems}}</div>
        </main>

        <footer>
        </footer>
    </body>

    <script src=""></script>
</html>